body{
    background-color: #e2ec9ee1;
}

h1{
    text-align: center;
    background-color: rgb(11, 209, 173);
}
#total{
    text-align: center;
    margin: 251px;
}


.signin_input{
    height: 40px;
    min-width: 300px;
    max-width: 640px;
    /*estilo  do input*/
    text-align: center;
    background: #cccccc; 
    border:1px solid #b92e34;
    border-radius:25px 0px 25px 0px ;
    margin: 9px;
}

#botao_signin{
    min-width: 300px;
    max-width: 600px;
    border-radius:25px 25px 25px ;
    border-color: rgb(11, 209, 173) ;
    color: rgba(18, 216, 146, 0.727);
    height: 30px;
}